@CHARSET "UTF-8";

/* DO NOT TOUCH EVER EVER AGAIN. */

#acf-group_page_designer tr.oneCol, /* 1. level */
#acf-group_page_designer .layout.oneCol /* 2. level */ {
	width: 7.413%;
	margin-left:1%;
	margin-top:0.5%;
    margin-bottom:0.5%;
	float:left;
    box-sizing: border-box;
}
#acf-group_page_designer tr.oneCol.first,
#acf-group_page_designer .layout.oneCol.first {
    width:8.413%;
}

#acf-group_page_designer tr.twoCol,
#acf-group_page_designer .layout.twoCol {
	width: 15.66666666666666%;
	margin-left:1%;
	margin-top:0.5%;
    margin-bottom:0.5%;
	float:left;
    box-sizing: border-box;
}
#acf-group_page_designer tr.twoCol.first,
#acf-group_page_designer .layout.twoCol.first {
    width: 16.66666666666666%;
}

#acf-group_page_designer tr.threeCol,
#acf-group_page_designer .layout.threeCol {
	width: 23.99999999999999%;
	margin-left:1%;
	margin-top:0.5%;
    margin-bottom:0.5%;
	float:left;
    box-sizing: border-box;
}
#acf-group_page_designer tr.threeCol.first,
#acf-group_page_designer .layout.threeCol.first {
    width: 24.99999999999999%;
}

#acf-group_page_designer tr.fourCol,
#acf-group_page_designer .layout.fourCol {
	width: 32.33333333333332%;
	margin-left:1%;
	margin-top:0.5%;
    margin-bottom:0.5%;
	float:left;
    box-sizing: border-box;
}

#acf-group_page_designer tr.fourCol.first,
#acf-group_page_designer .layout.fourCol.first {
    width: 33.33333333333332%;
}

#acf-group_page_designer tr.fiveCol,
#acf-group_page_designer .layout.fiveCol {
	width: 40.66666666666665%;
	margin-left:1%;
	margin-top:0.5%;
    margin-bottom:0.5%;
	float:left;
    box-sizing: border-box;
}
#acf-group_page_designer tr.fiveCol.first,
#acf-group_page_designer .layout.fiveCol.first {
    width: 41.66666666666665%;
}

#acf-group_page_designer tr.sixCol,
#acf-group_page_designer .layout.sixCol {
	width: 48.99999999999998%;
	margin-left:1%;
	margin-top:0.5%;
    margin-bottom:0.5%;
	float:left;
    box-sizing: border-box;
}
#acf-group_page_designer tr.sixCol.first,
#acf-group_page_designer .layout.sixCol.first {
    width: 49.99999999999998%;
}

#acf-group_page_designer tr.sevenCol,
#acf-group_page_designer .layout.sevenCol {
	width: 57.33333333333331%;
	margin-left:1%;
	margin-top:0.5%;
    margin-bottom:0.5%;
	float:left;
}
#acf-group_page_designer tr.sevenCol.first,
#acf-group_page_designer .layout.sevenCol.first {
    width: 58.33333333333331%;
}

#acf-group_page_designer tr.eightCol,
#acf-group_page_designer .layout.eightCol {
	width: 65.66666666666664%;
	margin-left:1%;
	margin-top:0.5%;
    margin-bottom:0.5%;
	float:left;
    box-sizing: border-box;
}
#acf-group_page_designer tr.eightCol.first,
#acf-group_page_designer .layout.eightCol.first {
    width: 66.66666666666664%;
}

#acf-group_page_designer tr.nineCol,
#acf-group_page_designer .layout.nineCol {
	width: 73.99999999999997%;
	margin-left:1%;
	margin-top:0.5%;
    margin-bottom:0.5%;
	float:left;
    box-sizing: border-box;
}
#acf-group_page_designer tr.nineCol.first,
#acf-group_page_designer .layout.nineCol.first {
    width: 74.99999999999997%;
}

#acf-group_page_designer tr.tenCol,
#acf-group_page_designer .layout.tenCol {
	width: 82.3333333333333%;
	margin-left:1%;
	margin-top:0.5%;
    margin-bottom:0.5%;
	float:left;
    box-sizing: border-box;
}
#acf-group_page_designer tr.tenCol.first,
#acf-group_page_designer .layout.tenCol.first {
    width: 83.3333333333333%;
}

#acf-group_page_designer tr.elevenCol,
#acf-group_page_designer .layout.elevenCol {
	width: 90.66666666666663%;
	margin-left:1%;
	margin-top:0.5%;
    margin-bottom:0.5%;
	float:left;
    box-sizing: border-box;
}
#acf-group_page_designer tr.elevenCol.first,
#acf-group_page_designer .layout.elevenCol.first {
    width: 91.66666666666663%;
}

#acf-group_page_designer tr.twelveCol,
#acf-group_page_designer .layout.twelveCol {
	width: 100%;
	margin-left:0;
	margin-top:0.5%;
    margin-bottom:0.5%;
	float:left;
    box-sizing: border-box;
}


/* END OF DO NOT TOUCH EVER EVER AGAIN */